@if (theme(); as t) {
  @if (t.manifest.pet; as pet) {
    <img
      class="pet"
      [class.pet-shown]="petShown()"
      [src]="assetUrl(mouthOpen() && pet.open ? pet.open : pet.closed)"
      [style.left.px]="geo().petX"
      [style.top.px]="geo().petY"
      [style.width.px]="geo().petW"
      [style.height.px]="geo().petH"
      draggable="false"
      alt=""
      (pointerenter)="onEnterInteractive()"
      (pointerleave)="onLeaveInteractive()"
      (pointerdown)="onPetPointerDown($event)"
      (pointermove)="onPetPointerMove($event)"
      (pointerup)="onPetPointerUp($event)"
    />

    @if (bubble(); as b) {
      <div
        class="bubble"
        [style.left.px]="b.left"
        [style.top.px]="b.top"
        [style.width.px]="geo().bubbleW"
        [style.height.px]="geo().bubbleH"
        [style.background-image]="'url(&quot;' + bubbleImage() + '&quot;)'"
        (pointerenter)="onEnterInteractive()"
        (pointerleave)="onLeaveInteractive()"
        (click)="onBubbleClick()"
      >
        <div
          class="bubble-body"
          [style.padding-bottom.px]="b.style === 'down' ? tailH() + 10 : 10"
          [style.padding-top.px]="b.style === 'up' ? tailH() + 10 : 10"
          [style.padding-left.px]="30 * scale()"
          [style.padding-right.px]="24 * scale()"
        >
          <span
            class="bubble-text"
            [style.font-size.px]="16 * scale()"
            [style.transform]="b.style === 'down' ? 'translateY(10px)' : 'translateY(-10px)'"
            >{{ b.text }}</span
          >
        </div>
      </div>
    }
  }
}
